$main-text-color: #1b1b1b;
$input-text-hover-color: #0e0088;

@mixin transition($prop) {
  transition: $prop 0.25s ease-in-out;
}
@mixin link {
  font-size: 16px;
  @media (max-width: 450px) {
    font-size: 14px;
  }
}

@keyframes show-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes hide-left {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}
@keyframes show-bottom {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
