.container {
  flex: 1 1 auto;
  margin-top: 10px;
  padding: 0 20px;
  overflow-y: scroll;
  transition: overflow-y 0.25s ease-in-out;
  scrollbar-width: none;
}
.container::-webkit-scrollbar {
  width: 0;
}
