.main {
  margin-bottom: 10px;
  flex: 1 1 auto;
  overflow-y: scroll;
  scrollbar-width: none;
}
.container {
  height: 100%;
  margin-top: 10px;
  padding: 0 20px;
}
.container::-webkit-scrollbar {
  width: 0;
}
